body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, green , greenyellow);
    
}

.quote{
    max-width: 960px;
}
/* heading section  */
.header{
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
}

span{
    border: 3px solid white;
    padding: 5px;
    background-color: green;

}

/*Quote and author section */

.content{
    
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*Button section */

button{
    margin: 10px auto 0 auto;
    border: none;
    font-size: 1.5em;
    background-color: aquamarine;
    display: block;
}

.changer:hover{
    background-color: blueviolet;
    cursor: pointer;
}

img{
    width: 300px;
    height: 300px;
    
}


@media only screen and (max-width: 425px){
    .header{
        font-size: 13px;
        padding: 1px 0;
    }

    img{
        width: 200px;
        height: 200px;
    }

    .content{
        padding: 2px;
        font-size: 10px;
        margin-top: -25px;
    }
    h3{
        font-size: 13px;
    }
}